/* -------------------------------------------------------------------------- */
/*                            Varaible Decleration                            */
/* -------------------------------------------------------------------------- */
:root{

    --primary-color: #0b1941;
    --secondary-color: 	#0e1c4f;
    --third-color: #132765;
    --fourth-color: #1c398d;
    --fifth-color: #000000;
    --sixth-color: #000000;
    --seventh-color: #000000;
    --eighth-color: #000000;

    --primary-font-color:rgb(236, 236, 236);
    --secondary-font-color:rgba(255, 255, 255, 0.733);
    --third-font-color:rgb(167, 167, 167);

    /* font color */
    --font-color-1: #080808;
    --font-color-2: #93a8b3;
    --font-color-3: #949494;
    --font-color-4: #949494;
    --font-color-5: #464646;
    --font-color-6: #646464;
    --font-color-7: #2c4255;

    /* font-size */
    --font-size-title: 1rem;
    --font-size-subtitle: 0.8rem;

    /* font-size-paragraph */
    --font-size-paragraph: 1rem;
    --font-size-small-paragraph: 0.9rem;
    --font-size-smaller-paragraph: 0.8rem;
    --font-size-smallest-paragraph: 0.7rem;
    --font-size-smallest-paragraph-2: 0.6rem;
    --font-size-smallest-paragraph-3: 0.4rem;
    --font-size-smallest-paragraph-4: 0.2rem;

    /* font-weight */
    --font-weight-Extlarge: 900;
    --font-weight-large: 800;
    --font-weight-title: 700;
    --font-weight-subtitle: 550;
    --font-weight-paragraph: 300;
    --font-weight-small-paragraph: 200;
    --font-weight-smaller-paragraph: 100;
    --font-weight-smallest-paragraph: 50;


    /* button front */
    --font-button-size-noraml: 1rem;
    --font-button-size-mid: 1.2rem;
    --font-button-size-large: 1.5rem;
    --font-button-size-largest: 2rem;
    --font-button-size-small: 0.8rem;
    --font-button-size-smallest-1: 0.7rem;
    --font-button-size-smallest-2: 0.6rem;
    --font-button-size-smallest-3: 0.5rem;
    --font-button-size-smallest-4: 0.4rem;


    /* nav bar heigh */
    --nav-height-rem: 4.8rem;
    --nav-height-px: 70px;

    /* footer height */
    --footer-height-rem: 4.5rem;
    --footer-height-px: 70px;

    /* remaning body height */
    --used--height-body: calc(var(--footer-height-rem) + var(--nav-height-rem));

    /* body split section width */
    --main-body-Left-width: 55vw;
    --main-body-Right-width: 30vw;

    /* nva bar element size */
    --logo-width-rem: 3rem;
    --navbar-font-size: 1rem;
    --navbar-l-r-pad: 1.7rem;
    --navbar-bt-up-pad: 1.2rem;


    /* queuelist height on mobile device */
    --queue-list-height-mobile:50vh;


    /* bottom fade effect height */
    --bottom-fade-effect-height: 2rem;
}


html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    font-size: 15px;
    overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/*                                   Nav Bar                                  */
/* -------------------------------------------------------------------------- */

.nav-bar{
    width: 100vw;
    height: var(--nav-height-rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--navbar-bt-up-pad) var(--navbar-l-r-pad);
    box-sizing: border-box;
    background-color: var(--primary-color);
}

.fade-effect-botoom::after{
    content: "";
    position: absolute;
    width: inherit;
    height: var(--bottom-fade-effect-height);
    top: var(--nav-height-rem);
    left: 0;
    background-image: linear-gradient(var(--primary-color)1px,transparent);
    background-blend-mode:multiply ;
    z-index: 10;
}

/* --------------------------- navBar common class -------------------------- */
.nav-bar-inner-container{
    display: flex;
    align-items: center;
}

 /* ---------------------------- Nav-bar Left container --------------------------- */
.nav-bar-left-container{
    justify-content: start;
}
.nav-bar-left-container > *{
    margin-right: 2rem;
}

.navBar-ul{
    margin: 0px;
    padding: 0px;
}
.navBar-ul > li{
    list-style-type: none;
}

.navBar-ul li a{
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-font-color);
    font-weight: var(--font-weight-subtitle);
}

#logo{
    height: var(--logo-width-rem);
}

/* ------------------------- NavBAr Right container ------------------------- */
.nav-bar-right-container{
    justify-content: end;
}
.nav-bar-right-container > * {
    margin-left: 2rem; /* Add spacing between elements */
}

/* navbar song search box */
.nav-search-box{
    display: flex;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.nav-search-box > *{
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: var(--third-font-color);
}

.nav-notification {
    border: none;
    background: transparent;
    font-size: 1.6rem;
    color: var(--primary-font-color);
}
.nav-notification::after{
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    transform: translate(-100%,50%);
}
/* navbar profile picture */
#user-profile-img{
    width: calc(var(--logo-width-rem) - 0.3rem);
    border-radius: 50%;
}

/* -------------------------------------------------------------------------- */
/*                          Main body (Explore Area)                          */
/* -------------------------------------------------------------------------- */

.main-body {
    /* border: 1px solid black; */
    height: calc(100vh - var(--used--height-body));
    padding: 0 7%;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    /* border: 1px solid red; */
}

.body-content-height{
    height: calc(100vh - var(--used--height-body));
}
.scroll-content{
    scroll-behavior: auto;
    overflow: scroll;
}
.scroll-content::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    height: 0px; /* removing scrollbar hight space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}




/* ------------------------------ Song Collection Left Side ------------------------------ */
#main-body-left{
    width: 60%;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

/* ------------------------------- Song Queue Right Side ------------------------------- */
#main-body-right{
    width: 35%;
}


/* ------------------------------ Poster image ------------------------------ */
.poster{
    margin: 3rem 0rem 3rem 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------- poster type-1 popup -------------------------- */
    .poster-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        box-sizing: border-box;
        height: 200px;
    }

    .poster-img {
        width: 25%;
        transition: all 0.3s ease;
    }

    .poster-img:hover {
        width: 28%;
    }

    .poster-content:hover .poster-img:not(:hover) {
        width: 23%;
    }
/* --------------------------- END OF poster type-1 popup -------------------------- */


/* -------------------------- poster type-2 Sldier -------------------------- */

/* Making 3D space for the poster */
.poster .slider-container{
    height: 30vh;
    max-height: min-content;
    /* min-height: max-content; */
    position: relative;
    perspective: 9000px;
    transform-style:preserve-3d;
    width: 97%;

}

/* Hiding the radio button */
.slider-container input{
    display: none;
}

/* Set up the poster main container */
.slider-container label{
    margin: auto;
    width: 50%;
    position: absolute;
    left: 0px;
    right: 0px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Poster images height and width. Image ratio will adjust accordingly */
.slider-image{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    box-shadow: 15px 0px 10px -6px rgba(0, 0, 0, 0.7),      /* Image Right side shadow*/
                -15px 0px 10px -6px rgba(0, 0, 0, 0.7)     /* Image Left side shadow*/
}

/* Setting position for left last poster image */
#sImg1:checked ~ #slider4, #sImg2:checked ~ #slider5,
#sImg3:checked ~ #slider1, #sImg4:checked ~ #slider2,
#sImg5:checked ~ #slider3{
    transform: translate3d(-50%,0,-200px);
}

/* Setting position for left next poster image */
#sImg1:checked ~ #slider5, #sImg2:checked ~ #slider1,
#sImg3:checked ~ #slider2, #sImg4:checked ~ #slider3,
#sImg5:checked ~ #slider4{
    transform: translate3d(-30%,0,-100px);

}

/* Setting position for center or selected poster image */
#sImg1:checked ~ #slider1, #sImg2:checked ~ #slider2,
#sImg3:checked ~ #slider3, #sImg4:checked ~ #slider4,
#sImg5:checked ~ #slider5{
    transform: translate3d(0,0,0) scale(1.1);

}

/* Setting position for right next poster image */
#sImg1:checked ~ #slider2, #sImg2:checked ~ #slider3,
#sImg3:checked ~ #slider4, #sImg4:checked ~ #slider5,
#sImg5:checked ~ #slider1{
    transform: translate3d(30%,0,-100px);
}

/* Setting position for right last poster image */
#sImg1:checked ~ #slider3, #sImg2:checked ~ #slider4,
#sImg3:checked ~ #slider5, #sImg4:checked ~ #slider1,
#sImg5:checked ~ #slider2{
    transform: translate3d(50%,0,-200px);
}

/* ----------------------- END OF poster type-2 Slider ---------------------- */



/* ------------------------------- collection ------------------------------- */
.collection{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
}

.collection-heading{
    margin: 0.5rem 0px;
    padding: 0px;
    /* font-size: var(--font-size-title);
    font-weight: var(--font-weight-title); */
    color: var(--font-color-1);
}
/* removing default padding from header tag */
.collection-heading > h4,h3,h2{
    padding: 0px;
    margin: 0px;
    color: var(--primary-font-color);
}


.collection-content{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    position: relative;
    /* border: 1px solid black; */
}

.collection-content-justfy-Space-Between{
    justify-content: space-between;
}

.collection-content-justfy-Space-Around{
    justify-content: space-around;
}

.collection-content-justfy-Space-Evenly{
    justify-content: space-evenly;
}

.collection-content-justfy-Center{
    justify-content: center;
}

.collection-content-justfy-End{
    justify-content: end;
}

/* ----------------------------- Song Thumbnail -> Latest Release ----------------------------- */
/* song thumbnail main body */
.song-thumbnail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 48%;
    position: relative;
    margin-bottom: 0.6rem;
    cursor: pointer;
}
/* Song thumbnail image style */
.song-thumbnail-img-container{
    width: 30%;
}
.song-thumbnail-img{
    width: 100%;
}

/* song thumbnail title and subtitle styling */
.song-thumbnail-content{
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0px;
    padding: 0px;
}
/* song thumbnail title conten Style */
.song-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 1.5rem;
}
/* Song thumbnail title */
.song-title{
    font-size: var(--font-size-smaller-paragraph);
    font-weight: var(--font-weight-smallest-paragraph);
    color: var(--primary-font-color);
    margin: 0px;
    padding: 0px;
}
.song-title-big{
    font-size: var(--font-size-small-paragraph);
    font-weight: var(--font-weight-small-paragraph);
    color: var(--primary-font-color);
    margin: 0px;
    padding: 0px;
}

/* Song thumbnail subtitle */
.song-subtitle{
    font-size: var(--font-size-smaller-paragraph);
    font-weight: var(--font-weight-smallest-paragraph);
    color: var(--third-font-color);
    margin: 0px;
    padding: 0px;
}
.song-subtitle-big{
    font-size: var(--font-size-smaller-paragraph);
    font-weight: var(--font-weight-small-paragraph);
    color: var(--third-font-color);
    margin: 0px;
    padding: 0px;
}

/* Song thumbnail other text */
.song-other-title-small{
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-paragraph);
    color: var(--font-color-2);
    margin: 0px;
    padding: 0px;
}

/* Song thumbnail menu button */
.song-thumbnail-menu-button{
    position: absolute;
    top: 0;
    right: 0px;
}

/* toggolog the menu dialog for latest release song*/
#menu-checkbox-1:checked ~ .menu-dialogbox, 
#menu-checkbox-2:checked ~ .menu-dialogbox, 
#menu-checkbox-3:checked ~ .menu-dialogbox, 
#menu-checkbox-4:checked ~ .menu-dialogbox{
    height: auto;
}


/* ----------------------------- Popular Artist ----------------------------- */

/* Artist profile container */
.artist-profile-thumbnail{
    width: 15%;
    text-align: center;
}
/* artist profile-image styleing */
.artist-profile-img{
    width: 100%;
    border-radius: 50%;
}
.artist-profile{
    position: relative;
    cursor: pointer;
}

.artist-profile:hover::after{
    width: 100%;
    text-rendering: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font: var(--fa-font-solid);
    content: '\f04b';
    color: white;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    font-size: var(--font-button-size-large);
}

/* to apply a black overlay on hover */
.artist-profile:hover > .artist-overlay{
    background-color: rgba(0, 0, 0, 0.3);
}
.artist-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0); /* Adjust opacity as needed */
    z-index: 1; /* Ensure the overlay appears on top of the image */
    pointer-events: none; /* Allow clicking through the overlay */
    border-radius: 50%;
    transition: all 0.3s ease;
}


/* artist name styling */
.artist-profile-name{
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-small-paragraph);
    color: var(--primary-font-color);
    margin: 0px;
    padding: 0px;
}

/* ------------------------------- Song Gener ------------------------------- */

/* Collection content in the song genre section */
#song-genre .collection-content{
    align-items: center;
    padding:0.8rem;
    background-color: var(--third-color);
}

/* Styling for station images */
.station-img{
    width: 15%;
}

/* Genre list box */
.genre-list-box{
    box-sizing:border-box;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Thumbnail container for genres */
.genre-thumbnail{
    width: 15%;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Styling for genre names */
.genre-name{
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-subtitle);
    color: var(--primary-font-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /*making center text center*/
    box-sizing: border-box;
    text-shadow: 0px 0px 5px var(--primary-color);
}

/* Styling for genre images */
.genre-img{
    width: 100%;
    border-radius: 50%;
    filter: blur(0.5px); /* Adding a blur effect to genre images */
    transition: all 0.3s ease-in-out;
}

/* Zoom effect on hover for genre images */
.genre-thumbnail:hover .genre-img{
    transform: scale(1.3);
}

/* ---------------------------------- Mood ---------------------------------- */
/* Container for mood items */
.mood-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Container for mood images */
.mood-img-container {
    width: 32%;
    position: relative;
    max-height: 15rem;
    overflow: hidden;
    cursor: pointer;
}

/* Zoom effect on hover for mood images */
.mood-img-container:hover > .mood-img{
    transform: scale(1.4);
}

/* Styling for mood images */
.mood-img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: all 0.4s ease-in-out;
}

/* Styling for mood names */
.mood-name{
    font-size: var(--font-button-size-mid);
    font-weight: var(--font-weight-subtitle);
    color: var(--primary-font-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /*making center text center*/
    box-sizing: border-box;
    text-shadow: 0px 0px 8px var(--primary-color);
}

/* ------------------------ Latest Song Engilsh/Hindi ----------------------- */
.latest-img-thumbnail{
    width: 100%;
}
.latest-container{
    display: flex;
    width: 15.5%;
    /* border: 1px solid black; */
    flex-direction: column;
    align-items:space-around;
    justify-content: space-between;
}

.latest-img-thumbnail{
    width: 100%;
}
.latest-img{
    width: 100%;
}

.latest-text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 0.5rem 0px;
    height: 2rem;
}

.latest-title{
    font-size: var(--font-size-smallest-paragraph);
    font-weight: var(--font-weight-subtitle);
    color: var(--font-color-1);
    margin: 0px;
    padding: 0px;
}
.latest-subtitle{
    font-size:var(--font-size-smallest-paragraph);
    font-weight: var(--font-weight-subtitle);
    color: var(--font-color-2);
    margin: 0px;
    padding: 0px;
}

/* ---------------------------------- Queue --------------------------------- */
.Queue{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: inherit;
    background-color: var(--primary-color);
}
.Queue-header-container{
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    color: var(--primary-font-color);
}

/* .Queue-header-container::after{
    content: "";
    position: absolute;
    width: inherit;
    height: 10px;
    background-color: transparent;
} */

.queue-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.queue-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#queue-menu-checkbox:checked ~ .menu-dialogbox{
    height: auto;
}

#queue-menu-checkbox-mobile:checked ~ .menu-dialogbox{
    height: auto;
}

 /* --------------------------- Playlist-item-class -------------------------- */

/* Styles for the PlaylistItem container */
.PlaylistItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 4rem;
    margin-bottom: 0.5rem;
    padding: 5px;
    cursor: pointer;
    overflow: visible;
}

.PlaylistItem:hover{
    background-color: var(--third-color);
}

.PlaylistItem:hover > .playlist-item-content > .song-thumb > .song-img-container::after{
    width: 100%;
    z-index: inherit;
}
.queue-container .PlaylistItem:hover > .playlist-item-content > .song-thumb > .song-img-container::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.37);
    top: 0px;
    left: 0px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.445);

}

/* Styles for the content of the PlaylistItem */
.playlist-item-content {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

/* Styles for the song thumbnail */
.song-thumb {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Styles for the song number */
.song-no {
    margin-right: 0.6rem;
    font-size: var(--font-button-size-small);
    font-weight: var(--font-weight-small-paragraph);
    color: var(--third-font-color);
}

/* Styles for the song image container */
.song-img-container {
    margin-right: 0.8rem;
    position: relative;
}

/* Styles for the song image */
.song-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}
.song-img-container::after{
    /* width: 100%; */
    text-rendering: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font: var(--fa-font-solid);
    content: '\f04b';
    color: white;
    width: 0px;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}


/* Styles for the song detail container */
.song-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.song-detail-container > span {
    margin-bottom: 0.3rem;
}

/* Styles for the button container */
.playlist-button-container {
    display: flex;
    align-items: center;
}

/* Styles for all elements inside the button container */
.playlist-button-container * {
    margin: 0 0.4rem;
}

.song-like-button{
    color: var(--third-font-color);
}


/* --------------------------- audio-player-Footer -------------------------- */
.audio-player{
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #646464; 
    height: var(--footer-height-rem);
}
.audio-player-container{
    margin: 0.6rem 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Music information */
.audio-information{
    display: flex;
    justify-content: space-around;
    width: 24%;
}

/* music controller */
.music-player-controls{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.music-controller-btns{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.duration-tracker{
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
}

.duration-tracker > span{
    width: max-content;
}

.song-progress-slider{
    width: 100%;
    margin: 0 0.8rem;
    box-sizing: border-box;
}
.song-progress-slider > input{
    width: 100%;
}

/* Other controller */
.other-controllers{
    width: 24%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.volume-slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume-slider > span{
    margin-right: 0.8rem;
}
#volume-slider{
    width: 6rem;
}

/* common class of footer */
.audio-button{
    background-color: transparent;
    border: none;
    font-size: var(--font-button-size-smallest-1);
    font-weight: var(--font-button-size-noraml);
    color: var(--font-color-1);
    cursor: pointer;
}

.circle-broder-button{
    border: 2px solid var(--font-color-1);
    border-radius: 50%;
    padding: 0.5rem;   /* border will make distance from content */
    display: flex;  
    margin: auto;   /* helo a perfect circle */
}

/* -------------------------------------------------------------------------- */
/*                                Common Class                                */
/* -------------------------------------------------------------------------- */

/* -------------------- Class for menu button dialog box -------------------- */

.menu-button{
    position: relative;
}

.menu-dialogbox{
    position: absolute;
    border-radius: 0.4rem;
    right: 0;
    z-index: 1;
    background-color: white;
    margin-top: 0.2rem;
    height: 0px;
    overflow: hidden;
    transition: all 500ms ease-in-out;
  }
  
  /* Hide default checkbox */
  input[type="checkbox"] {
    display: none;
  }
  
  /* Style for custom checkbox */
  .custom-checkbox-label {
    display: inline-block;
    cursor: pointer;
    font-size: var(--font-button-size-noraml);
    font-weight: var(--font-button-size-noraml);
    color: var(--primary-font-color);
  }

  .custom-checkbox-label > i {
    margin-left: 0.5rem;
  }

  /* #custom-checkbox:checked ~ .menu-dialogbox{
    height: auto;
  } */
  
  .menu-dialogbox-container{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    width: max-content;
    height: max-content;
  }
  .menu-dialogbox-container > hr{
    width: 100%;
    border: none;
    height: 2px;
    background-color: rgba(102, 102, 102, 0.76);
  }
  .menu-dialogbox-item{
    cursor: pointer;

  }


/* ---------------------------------- test ---------------------------------- */
/* -------------------------------- end test -------------------------------- */


@media screen and (max-width: 768px) {

    html,body{
        font-size: 15px;
    }

    .main-body {
        padding: 0 4%;
        height: auto;
    }

    /* ------------------------------ Song Collection ------------------------------ */
    #main-body-left{
        width: 100%;
        box-sizing: border-box;
    }

    /* ------------------------------- Song Queue Mobile ------------------------------- */
    /* Hide the main body right section */
    #main-body-right{
        display: none;
    }

    #queue-for-mobile label i {
        color: var(--primary-font-color);
    }

    /* Queue for mobile */
    #queue-for-mobile{
        position: fixed;
        top: calc(var(--nav-height-rem) + 50px);
        right: 0px;
        z-index: 2;
        display: flex;
        justify-content: end;
        height: auto;
        max-height: 100%;
        max-width: 80%;
        box-sizing: border-box;
    }

    /* Queue mobile sidebar container */
    #queue-for-mobile .queue-mobile-sidebar-container{
        width: 300px;
        background-color: var(--fourth-color);
        max-width: 80%;
        padding: 0px 1rem;
        padding-bottom: 2rem;
        transition: all 0.4s ease-in-out;
        height: auto;
        max-height: calc(100vh - var(--queue-list-height-mobile));
    }

    /* Queue mobile open button */
    .queue-mobile-open-btn{
        background-color: var(--fourth-color);
        height: max-content;
        width: max-content;
        cursor: pointer;
        height: 35px;
        width: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    /* Queue mobile sidebar container when mobile button is checked */
    /* hiding the queue body */
    #queue-mobile-btn:checked ~ .queue-mobile-sidebar-container{
        width: 0px;
        padding: 0;
        margin: 0;
    }

    /* Queue mobile queue sidebar content hide when mobile button is checked */
    #queue-mobile-btn:checked ~ .queue-mobile-sidebar-container > .Queue-mbs > .queue-mbs-container{
        height: 0px;
    }

    /* Queue mobile button open when mobile button is checked */
    /* inittial case open button disply */
    #queue-mobile-btn:checked ~ #queue-mobile-btn-open{
        display: flex;
    }

    /* Queue mobile button close when mobile button is checked */
    /* inittial case hiding close button */
    #queue-mobile-btn:checked ~ #queue-mobile-btn-close{
        display: none;
    }

    /* when queue is opend then hiding the open button */
    #queue-mobile-btn:not(:checked) ~ #queue-mobile-btn-open{
        display: none;
    }

    /* Queue mobile sidebar height set */
    .Queue-mbs{
        height: 100%;
        box-sizing: border-box;
    }

    /* Queue mobile sidebar h1 adjustment */
    .Queue-mbs h1{
        padding: 0px;
        margin: 0px;
        color: var(--primary-font-color);
    }

    /* Queue mobile sidebar header style */
    .queue-mbs-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2px;
        box-sizing: border-box;
        border-bottom:1px solid white;
    }

    /* Queue mobile sidebar main content style */
    .queue-mbs-container{
        height: inherit;
        box-sizing: border-box;
        height: calc(calc(100vh - var(--queue-list-height-mobile)) - 2rem);
        transition: all  0.4s ease-in-out;
    }

    /* ------------------------------ Footer music ------------------------------ */

    .audio-player-container{
        margin: 1rem 2%;
    }


 /* -------------------------- poster type-2 Sldier -------------------------- */

    /* Making 3D space for the poster */
    .poster .slider-container{
        height: 30vh;
    }

    /* Hiding the radio button */
    .slider-container input{
        display: none;
    }

    /* Set up the poster main container */
    .slider-container label{
        width:80%;
    }

    /* Setting position for left last poster image */
    #sImg1:checked ~ #slider4, #sImg2:checked ~ #slider5,
    #sImg3:checked ~ #slider1, #sImg4:checked ~ #slider2,
    #sImg5:checked ~ #slider3{
        transform: translate3d(-15%,0,-200px);
    }

    /* Setting position for left next poster image */
    #sImg1:checked ~ #slider5, #sImg2:checked ~ #slider1,
    #sImg3:checked ~ #slider2, #sImg4:checked ~ #slider3,
    #sImg5:checked ~ #slider4{
        transform: translate3d(-7%,0,-100px);

    }

    /* Setting position for center or selected poster image */
    #sImg1:checked ~ #slider1, #sImg2:checked ~ #slider2,
    #sImg3:checked ~ #slider3, #sImg4:checked ~ #slider4,
    #sImg5:checked ~ #slider5{
        transform: translate3d(0,0,0);

    }

    /* Setting position for right next poster image */
    #sImg1:checked ~ #slider2, #sImg2:checked ~ #slider3,
    #sImg3:checked ~ #slider4, #sImg4:checked ~ #slider5,
    #sImg5:checked ~ #slider1{
        transform: translate3d(7%,0,-100px);
    }

    /* Setting position for right last poster image */
    #sImg1:checked ~ #slider3, #sImg2:checked ~ #slider4,
    #sImg3:checked ~ #slider5, #sImg4:checked ~ #slider1,
    #sImg5:checked ~ #slider2{
        transform: translate3d(15%,0,-200px);
    }

/* ----------------------- END OF poster type-2 Slider ---------------------- */

}

@media screen and (max-width: 668px) {
    .navBar-ul, .nav-search-box,  .nav-notification{
        display: none;
    }
    html,body{
        font-size: 12px;
    }
}